---
layout: default
---
<main>
  <div class="banner hide-on-small-only" style="width: 100%; background: url('http://res.cloudinary.com/neoelemento/image/upload/v1476435010/blog/war-min.jpg') no-repeat bottom right, rgba(0,0,0,0.1); background-size: cover; background-attachment: fixed;">          
  </div>
  <div class="blog">
    <div class="container">      
      <div class="row">
        <div class="col m4 s12 offset-m4">
          <div class="card grey lighten-4">
            <div class="card-content black-text center-align">
              <span class="card-title red-text lighten-2">EPISODES</span>
            </div>
            <div class="card-action center-align">
              <!--<h6>Coming on: <strong>28.10.2016</strong></h6>-->
              <h6>Next Episode: <strong>{{ site.next_episode }}</strong></h6>
            </div>
          </div>
        </div>
        <div class="col m12">
        {% for post in paginator.posts reversed %}
          <div class="col m4 s12">  
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
              <div class="card grey lighten-4">
                <div class="card-content black-text">
                  <span class="card-title green-text darken-2">{{ post.title }}</span>
                  <p class="post-content">{{ post.excerpt }}</p>
                </div>
                <div class="card-action">
                  <a href="#">Posted on: {{ post.date | date: "%b %-d, %Y" }}</a>
                </div>
              </div>
            </a> 
          </div>           
          {% endfor %}          
          
          
          <!-- pagination -->
          {% if paginator.total_pages > 1 %}
            <div class="pagination">
              {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
              {% else %}
                <span>&laquo; Prev</span>
              {% endif %}

              {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                  <em>{{ page }}</em>
                {% elsif page == 1 %}
                  <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
                {% else %}
                  <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
                {% endif %}
              {% endfor %}

              {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
              {% else %}
                <span>Next &raquo;</span>
              {% endif %}
            </div>
          {% endif %}     
        </div>
      </div>
    </div>
  </div>
</main>